[submodule "scylla"]
	path = scylla
	url = git@github.com:scylladb/scylla.git
[submodule "scylla-jmx"]
	path = scylla-jmx
	url = git@github.com:scylladb/scylla-jmx.git
[submodule "scylla-tools-java"]
	path = scylla-tools-java
	url = git@github.com:scylladb/scylla-tools-java.git
[submodule "scylla-ccm"]
	path = scylla-ccm
	url = git@github.com:cloudius-systems/scylla-ccm.git
[submodule "scylla-dtest"]
	path = scylla-dtest
	url = git@github.com:cloudius-systems/scylla-dtest.git
[submodule "cassandra-unit-tests"]
	path = cassandra-unit-tests
	url = git@github.com:cloudius-systems/cassandra-unit-tests.git
