on:
  push:
    branches:
      - master
      - next
  
  pull_request:
    branches:
      - next

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Unittest and Build RPMs
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Run pre-commit
        run: |
            uv sync
            uv run pre-commit run --all-files

      - name: unittest
        run: |
            uv sync
            uv run pytest ./tests

      - name: Build RPM (Rockylinux:8)
        run: docker run -v `pwd`:/scylla-machine-image -w /scylla-machine-image  --rm rockylinux:8 bash -c 'dnf update -y; dnf install -y git ; git config --global --add safe.directory "*"; ./dist/redhat/build_rpm.sh -t centos8'

      - name: Build DEB (Ubuntu:22.04)
        run: docker run -v `pwd`:/scylla-machine-image -w /scylla-machine-image  --rm ubuntu:22.04 bash -c 'apt update -y; apt install -y git ; git config --global --add safe.directory "*"; ./dist/debian/build_deb.sh'
